#tasks-page
  %h1 Listing tasks

  #task-creation-form
    = form_for @task, :url => { :action => "create" }, :remote => true do |f|
      = f.text_field :content, :id => "content-field"
      = f.submit "Save"

  %table#tasks-table
    %tr.first
      %th Content
      %th User
      -#%th Date Created
      %th
    - @tasks.each do |task|
      %tr
        %td#content= task.content
        %td= task.user_id
        -#%td= task.created_at
        %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }
